@model IEnumerable<Library.Data.Model.Book>

    <div>
        @(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add(model => model.Name).Titled("Name");
        columns.Add(model => model.Language).Titled("Language");
        columns.Add(model => model.WeekDays).Titled("Week day");
        columns.Add(model => model.Id).Titled("ID");
        columns.Add(model => model.State).Titled("State");
        columns.Add(model => model.City).Titled("City");
    })
    .Empty("No data found")
    .Filterable()
    .Sortable()
    .Pageable()
    )
    </div>
<div>
    @Html.ActionLink("Create a Book","Create")
</div>


